.pr-info
	padding 10px 20px
	margin-bottom 30px

	&__title
		font-size 36px
		margin-bottom 30px
		span
			font-size 28px

	&__table
		width 100%
		border 1px solid #ddd

		td
			padding 20px

		img
			float left
			margin-right 5px

		p
			font-size 14px
			margin-bottom 10px
			&:last-child
				margin-bottom 0

		.pr-info__delivery
			font-size 11px

		.pr-info__total
			font-size 18px
			font-weight 700
