.item-box
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  height 115px
  border 1px solid #ebebeb
  border-radius 5px
  width 100%
  -webkit-box-pack justify
  -webkit-justify-content space-between
  -ms-flex-pack justify
  justify-content space-between

.item-box__list-title
  width 299px
  height 39px
  font-family Arial
  font-weight 400
  line-height 21px
  padding-top 31px
  padding-left 25px

.item-box__list-name
  color #252525
  font-size 15px

.item-box__list-count
  color #000
  font-size 13px

.item-box__product
  width 329px
  padding-top 20px

.item-box__product-image
  width 80px
  height 80px
  float left
  display block

.item-box__product-description
  padding-top 11px
  padding-left 22px
  float left
  color #252525
  font-family Arial
  font-weight 400
  width 170px

.item-box__target-name
  font-size 15px
  padding-bottom 10px

.item-box__collection-name
  font-size 13px
  line-height 21px

.item-box__price-box
  width 397px
  height 41px
  font-weight 400
  padding-top 29px

.item-box__price
  color #000
  font-family Arial
  font-size 18px
  line-height 23px

.item-box__currency
  color #000
  font-family ALSRubl, sans-serif
  font-size 18px
  line-height 23px

.item-box__shipment
  line-height 30px
  color #252525
  font-family Arial
  font-size 13px
