mixin pr-table()

	+b.pr-table
		+e('h2').title  Переключатели
		+e('table').table
			tr
				td
					p 1 клавишный выключатель (сх.1)
				td
					p 12 шт.
				td
					p 5860 &#8381;
				td
					p до 2 недель
			tr
				td
					p 2 клавишный выключатель (сх.5)
				td
					p 12 шт.
				td
					p 122 860 &#8381;
				td
					+e('p').warning не доступно для этого дизайна
			tr
				td
					p Перекрестный переключатель (сх.7)
				td
					p 12 шт.
				td
					p 122 860 &#8381;
				td
					p на складе
