mixin table()

	.table
		.table__title Переключатели
		.table__item
			.table__item-title 1 клавишный выключатель (сх.1)
			.table__item-count 12 шт.
			.table__item-price 5860 ₽
			.table__item-shipment.false до 2 недель
		.table__item
			.table__item-title 2 клавишный выключатель (сх.5)
			.table__item-count 12 шт.
			.table__item-price 122 860 ₽
			.table__item-shipment.table__item-shipment_availability не доступно для этого дизайна
		.table__item
			.table__item-title Перекрестный переключатель (сх.7)
			.table__item-count 12 шт.
			.table__item-price 122 860 ₽
			.table__item-shipment.false на складе
		.table__title Переключатели
		.table__item
			.table__item-title 1 клавишный выключатель (сх.1)
			.table__item-count 12 шт.
			.table__item-price 5860 ₽
			.table__item-shipment.false до 2 недель
		.table__item
			.table__item-title 2 клавишный выключатель (сх.5)
			.table__item-count 12 шт.
			.table__item-price 122 860 ₽
			.table__item-shipment.table__item-shipment_availability не доступно для этого дизайна
		.table__item
			.table__item-title Перекрестный переключатель (сх.7)
			.table__item-count 12 шт.
			.table__item-price 122 860 ₽
			.table__item-shipment.false на складе
