.table__title
  margin-top 30px
  color #000
  font-family Arial
  font-weight 400
  font-size 15px
  border-bottom 1px solid #ebebeb
  height 46px
  line-height 46px

.table__item
  border-bottom 1px solid #ebebeb
  height 46px
  line-height 46px
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-box-pack justify
  -webkit-justify-content space-between
  -ms-flex-pack justify
  justify-content space-between

.table__item-title
  font-size 13px
  width 400px

.table__item-count
  font-size 13px
  width 200px

.table__item-price
  font-size 13px
  width 185px

.table__item-shipment
  width 200px
  font-size 13px

.table__item-shipment_availability
  color #ff0303
