mixin header()

	.header
		.header__home
			.header__logo
			.header__title
				| Электроустановочные изделия
				br
				| Освещение
				br
				| Декоративные изделия
		.header__phone
			.header__work-time пн–пт: 10–22, выходные: 11–18
			.header__phone-number +7 (812) 703-13-43
		.header__place
			.header__place-title Мы находися в Санкт-Петербурге
			.header__place-content
				| ТЦ "Строймаркет Василеостровский", модули 36Б и 72 ул. Железноводская, д.3,
				| Санкт-Петербург
