mixin pr-message()

	+b.pr-message
		+e.text Если пользователь вводит некорректное значение (отрицательное число или знак, не являющийся числом), то значение изменяется на "1". Если пользователь вводит число, которое больше максимального количества товара, то значение изменяется на максимальное количество товара и выводится сообщение "Кол-во единиц товара ограничено" на 3 секунды.
