.footer
	position relative
	padding-top 84px
	padding-left 50px
	padding-right 50px
	width 1127px

	&:after
		content ''
		position absolute
		top 84px
		left 50px
		width 111px
		height 3px
		background #ddd

.footer__text
	margin-top 20px
	width 674px
	height 76px
	color #000
	font-family Arial
	font-size 13px
	font-weight 400
	line-height 21px
